<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>servlet/welcome</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>namespace</param-name>
        <param-value>12</param-value>
    </context-param>

    <!-- servlet标签给tomcat配置servlet程序 -->
    <servlet>
        <!-- <servlet-name>给servlet程序起一个别名(一般是类名) -->
        <servlet-name>StudentServlet</servlet-name>
        <!-- servlet-class Servlet程序的全类名 -->
        <servlet-class>com.lyy.servlet.StudentServlet</servlet-class>
        <!-- 服务启动时创建对象，在该子标签中填写整数，越小的整数优先级越高 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- <servlet-mapping> 给servlet配置访问地址-->
    <servlet-mapping>
        <!-- <servlet-name> 告诉服务器，当前路径配置给哪一个servlet使用-->
        <servlet-name>StudentServlet</servlet-name>
        <!-- <url-pattern> 配置访问地址
             / 表示地址:http://ip:prot/工程路径
             /servlet 表示地址：http://ip:port/工程路径/servlet
         -->
        <url-pattern>/servlet/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestGenericServlet</servlet-name>
        <servlet-class>com.lyy.servlet.TestGenericServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestGenericServlet</servlet-name>
        <url-pattern>/servlet/testGeneric</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.lyy.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/servlet/welcome</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HttpServletRequestTest</servlet-name>
        <servlet-class>com.lyy.servlet.HttpServletRequestTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletRequestTest</servlet-name>
        <url-pattern>/httpServletRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>com.lyy.servlet.AServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BServlet</servlet-name>
        <servlet-class>com.lyy.servlet.BServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BServlet</servlet-name>
        <url-pattern>/BServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.lyy.filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/myFilter</url-pattern>
    </filter-mapping>

    <filter>
        <init-param>
            <param-name>user</param-name>
            <param-value>Ice</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
        <filter-name>LifeCycleFilter</filter-name>
        <filter-class>com.lyy.filter.LifeCycleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LifeCycleFilter</filter-name>
        <url-pattern>/servlet/lifeCycle</url-pattern>
    </filter-mapping>
</web-app>